.wrapper {
  max-width: $content-width;
  margin: auto;

  @include media-pc {
    margin: 0 40px;
  }

  @include media-tablet {
    // margin: 0 40px;
    @include adaptiv-margin(40, 16, 0);
  }

  @include media-mobile {
    margin: 0 16px;
  }

}