.enjoy__text {
  @extend %text-medium_light;
}

.rectangle-adv {
  position: relative;
  border-radius: 40px;
  background-color: transparent;
  overflow: hidden;
  // background: center / cover no-repeat url("img/picture/img-hero.png"), lightgray 50%;
}

.rectangle-adv__column {
  position: relative;
  max-width: 530px+200px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media-pc {
    @include adaptiv-padding(100, 100, 100, 60, $width, $width-tablet);
  }

  @include media-tablet {
    @include adaptiv-padding(100, 60, 60, 16, $width-tablet, $width-mobile);
    max-width: 530px+120px;
  }

  @include media-mobile {
    padding: 60px 16px;
    max-width: 316px+32px;
  }
}